@model Vehiclehire.Models.PickPointVM

@{
    ViewBag.Title = "AddPickPoint";
}

<h2>AddPickPoint</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PickPoint</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PointAddress, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PointAddress, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PointAddress, "", new { @class = "text-danger" })
        </div>
    </div>

  

    <div class="form-group">
        <label class="control-label col-md-2" for="HasSidebar">Drivers</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.DriverEmail, Model.Drivers, "Select Driver", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PickVehId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.PickUpPhone,"Pick up Point Phone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PickUpPhone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PickUpPhone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="HasSidebar">Vehicle</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PickVehId, Model.Vihicles, "Select Vehicle", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PickVehId, "", new { @class = "text-danger" })
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ADD PICK POINT" class="btn btn-default" />
        </div>
    </div>
</div>
}

@Html.Action("PickUpPoints", "Admin")
