@model IEnumerable<Vehiclehire.Models.Booking>

@{
    ViewBag.Title = "Bookings";
    Layout = null;
}

<h2>APPROVED BOOKINGS</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Phone
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUrbace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servicetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServicingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Satatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUrbace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Satatus)
            </td>
            @*<td>
                @Html.ActionLink("ALLOCATE INSPECTORS", "allocate", new { id = item.Id }, new { @class = "btn btn-info" })
            </td>*@
        </tr>
    }

</table>
